.container-black-calender-box {
    width: 85vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:$black-box-calender;
    .container-p-inputdate {
      margin-top: 2%;
      width: 80%;
      height: auto;
      
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .container-p-input {
        height: 100%;
        width: auto;
        p{
          font-size:small;
          color: $link-color;
          text-align: center;
          font-weight:lighter;
        }
        input {
          border: none;
          width: 400px;
          height: 80px;
          color: $link-color;
          background-color: $dark-purple;
          font-size: larger;
          text-align: center;
          padding: 15px;
          &:hover {
            cursor: text;
        }
        }
      }
    }
    .request-quote-btn {
      width: 100%;
      height:auto;
      display: flex;
      justify-content: center;
      margin: 3% 3%;
      button{
        background-color: $black-box-calender;
        border:1px solid $link-hover-color;
        height:65px;
        font-size: small;
        color: $link-hover-color;
        padding: 2px;
        width: 20%;
        &:hover {
            cursor: pointer;
        }
      }
    }
  }
  
  