//color pallets 
$color_pallets:(success:#6FB586 ,warning:#f90 ,danger:#ff5600,light:#ffffff,muted:#333,darkpurple:#1F1F2C,lightgry:rgb(223, 221, 221),slidercolor:#171720,darksuccess:#498f60,yellow-green:rgb(169, 241, 1));
$body-color:#323232;
$button-hover:map-get($color_pallets,'darksuccess');
$black-box-calender:#111118;
$dark-purple:map-get($color_pallets,'darkpurple');
$body-bg:map-get($color_pallets,'light');
$link-color:map-get($color-pallets,'light');
$link-hover-color:map-get($color_pallets,'success');
$text-muted:map-get($color_pallets,'muted');
$text-ligtgrey:map-get($color_pallets,'lightgry');
$text-grey:rgb(145, 142, 142);
$slider-color:map-get($color_pallets,'slidercolor');
$yellow-green:map-get($color_pallets,'yellow-green');
//fonts variables
$font-size-verybold:165px;
$font-size-h2:44px;
$font-size-h3:20px;
$font-size-banner:30px;
$dt-font-weight:400;
$font-weight-base:700;
$font-family-base:'sans serif';
$font-colors:#323232;
$line-height-base-h2:44px;
$line-height-base-h3:22px;
//paragrephs
$font-size-parag:18px;
$font-weight-parag:200;
$line-height-parag:27px;
